.leftmenu-cont{
    color:red;
    width: 30%;
    border: black;
    border-style: solid;
    border-width: 2px;
    height: 750px
}

.main-cont{
    display:flex;
    justify-content: space-between;
}

.image-cont{

    width: 47%;
    margin:10px 10px 10px 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

.div-style{
    margin:20px 20px ;
    text-align: center;
    height: auto;
    columns: 2 auto;
}

/* 
.button-cont{

    columns: 2 auto;
    margin: auto;
} */

img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.outer-b-cont{
    align-items: center;
    width: 25%;
    margin-top: 50px;
}

.my-button{
    width: 100%;
    height:auto;
    margin: auto;
}

.heading{
    height:6%;
}

.my-button:hover{
    font-size: 2rem;
    transition: all 0.1s ease-out;
}

.button-divi{
    width: 40%;
    margin: auto;
    height: 50px;
}

.image-div{
    height: 50%;
    width: 100%;

}

/* .div-style{
    columns: 2 auto;
} */